h1 
{ font-family: Verdana; font-size: 20px; color: 03045e
}

h2 { font-family: Verdana; font-size: 25px; color: 03045e
}

h3 { font-family: Verdana; font-size: 25px; color: 03045e
}
h4 { font-family: Verdana; font-size: 25px; color: 03045e
}
h5 { font-family: Verdana; font-size: 25px; color: 03045e
}

}
p1 { font-family: Verdana; font-size: 16px; color: 03045e
 }
p2 { font-family: Verdana; font-size: 16px; color: 03045e
 }
p3 { font-family: Verdana; font-size: 16px; color: 03045e
 }
p4 { font-family: Verdana; font-size: 16px; color: 03045e
 }



